--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
tensorboard
fairscale
sentencepiece
Pillow
opencv-python
gradio
tqdm
tenacity
openai
git+https://github.com/csuhan/timm_0_3_2.git
git+https://github.com/openai/CLIP.git
matplotlib
termcolor
tqdm
accelerate
peft
bitsandbytes
wandb
datasets
transformers
evaluate